/*
 *
 *    北京点触官网公共样式
 *    适配多终端
 *    Autor : Mr.Sofar
 *
 *
 * 
*/
/*头部样式##########################*/
@charset 'utf-8';
html{color:#000;background:#f0f0f0;font-family:'Microsoft YaHei';font-size: 14px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Arial,'Microsoft YaHei';}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#009; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }
.clearfix { *zoom:1; }
.hide{overflow: hidden;}
a {-webkit-tap-highlight-color:rgba(0,0,0,0);}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 20px;
}
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1471282030_2082016.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1471282030_2082016.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1471282030_2082016.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1471282030_2082016.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1471282030_2082016.svg#iconfont') format('svg'); /* iOS 4.1- */
}

/*导航改造*/
.navbar-default {
  /*position: absolute;*/
  /*top: 0px;*/
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  border: none;
  z-index: 10;
}
.navbar-default .touclick-index .navbar-collapse{
    border: none;
}
.navbar-brand {
  height: 100px;
  padding: 15px 0px 15px 72px;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-toggle {
  margin-top: 30px;
}
.nav>li>a {
  padding: 8px 18px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #292929;
}
.navbar-default .navbar-toggle {
  border: none;
}
.touclick-nav {
  /*margin: 10px 0px 8px;*/
}
span.glyphicon:before {
  color: #fff;
  font-size: 24px;
}
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
  background: rgba(0,0,0,0);
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-brand {
  height: 72px;
  /*padding: 15px 0px 15px 72px;*/
}
.touclick-index {
  max-width: 1228px;
  margin: 0 auto;
}
/*公共样式*/
.max-width {
  max-width: 1230px;
  width: 97%;
  margin: 0 auto;
}
.touclick-index {
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  -ms-transition:0.5s;
  -o-transition:0.5s;
  transition:0.5s;

}
.navbar-scale {
  -webkit-transform:scale(1.02,1.02);
  -moz-transform:scale(1.02,1.02);
  -ms-transform:scale(1.02,1.02);
  -o-transform:scale(1.02,1.02);
  transform:scale(1.02,1.02);
}
.nav .nav-login a,
.nav .nav-register a {
  padding: 11px 24px;
}
.nav .nav-login,
.nav .nav-register {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #fff;
  margin-top: -5px;
}
.nav .nav-login {
  margin-left: 5px;
  border: 1px solid #2588da;
  /*background: #fff;*/
}
.navbar .nav .nav-login a {
  color: #000;
}
.navbar .nav .nav-login a:visited,
.navbar .nav .nav-login a:active,
.navbar .nav .nav-login a:hover{
  color: #2588da;
}
.nav .nav-register {
  margin-right: 0px;
}

@media (min-width: 769px) {
  .navbar {
    overflow: hidden;
  }
  .navbar-brand img {
    width: 80%;
    height: auto;
  }
  .navbar-nav > li.active {
    overflow: hidden;
    border-radius: 5px;
    /*background: url(../images/point.png) no-repeat bottom center;*/
  }
}
@media (max-width: 768px) {
  .navbar-collapse {
    padding: 0px;

  }
  .nav .nav-login a,
  .nav .nav-register a {
    padding: 0;
  }
  .nav .nav-login,
  .nav .nav-register {
    border:none;
    background: none;
    color: #fff;
    padding: 8px 18px 15px;
  }
  .navbar .nav .nav-login a:visited,
  .navbar .nav .nav-login a:active,
  .navbar .nav .nav-login a:hover{
    color: #fff;
  }
  .navbar .nav .nav-login a {
    color: #fff;
  }
 
  .navbar-nav > li.active {
    background: rgba(0,0,0,0.3) url(/images/point.png) no-repeat 97% center;
    font-weight: normal;
  }

  .navbar-nav > li > a {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .navbar-nav > li > a:hover {
    margin-left: 15px;
  }

  .navbar-nav {
    margin: 0px;
  }

  .navbar-brand {
    height: 68px;
    padding: 15px 0px 15px 32px;
  }

  .navbar-brand img {
    height: 90%;
  }

  .navbar-toggle {
    margin-top: 14px;
  }
  .navbar-toggle {
    padding-left: 0px;
  }
  .navbar-toggle i {
    padding-left: 10px;
  }
  .navbar-scale {
    -webkit-transform:scale(1,1);
    -moz-transform:scale(1,1);
    -ms-transform:scale(1,1);
    -o-transform:scale(1,1);
    transform:scale(1,1);
  }
  .nav .nav-login,
  .nav .nav-register {
    margin-top: 0;
    margin-left: 0px;
  }
  /*..nav .nav-login*/
}
@media (min-width: 768px) and (max-width: 992px) {
  /*首页*/
  .navbar-nav > li > a {
    padding: 6px 5px 10px;
    /*font-size: 14px;*/
    font-size:14px;
  }
}
@media (min-width: 1300px) {
  .navbar-nav > li {
    margin: 0 17px;
  }
}
@media (min-width: 768px){
  .navbar-nav {
      float: right;
      margin: 18px 0px 0px;
  }
}