/*
 *
 *    北京点触官网首页
 *    适配多终端
 *    Autor : Mr.Sofar
 *
 *
 * 
*/
/*头部样式##########################*/
@charset 'utf-8';
html,body {
	/*overflow: hidden;*/
	width:100%;
	height: 100%;
	background: #fff;
	min-height: 100%;
}
body {
	padding-top: 70px;
	/*background: #fff;*/
}
.nav>li {
	padding-top: 15px;
}
.nav>li>a {
	display: inline;
	padding: 0px;
}
.navbar-default {
	background: #000;
	color: #aaa;
}
.login {
	height: 100%;
}
.register > .row,
.login > .row {
	height: 100%;
	max-width: 1200px;
	margin:  0 auto;
}
.login > .row {
	background: url(/image/login/login-img.png) no-repeat 100px 84px;
}
.register > .row{
	background: url(/image/login/register-img.png) no-repeat 100px 84px;
}
.login-img {
	height: 100%;
	min-height: 300px;
	text-align: center;
	padding-top: 84px;
	/*line-height: 100px;*/
	/*height: 100%;*/
	/*background: url(../../images/login/login-img.png) no-repeat center center;*/
}
.login-form {
	padding-top: 84px;
}
.login-box {
	padding: 40px 25px;
}
.register-box {
/*	padding: 0px 0px 40px;*/
}
.register-box,
.login-box {
	background: rgba(255,255,255,0.5);
	border: 1px solid #888;
	margin-bottom: 50px;
}

.login-box h1  {
	overflow: hidden;
	/*height: 36px;*/
	font-size: 24px;
	color: #999999;
	margin-bottom: 32px;
}
.login-box h1:after {
	clear: both;
}
.login-box h1  strong {
	float: left;
	font-size: 30px;
	font-weight: bold;
	color: #41a7d8;
}
.login-box h1  span {
	float: right;
	line-height: 36px;
	font-size: 24px;
	color: #999;
}
.register-box input,
.login-box input {
	outline: none;
	border: 1px solid #aaa;
	margin-bottom: 20px;
}
.register-box input.btn,
.login-box input.btn {
	display: block;
	width: 100%;
	color: #fff;
	background: #dcdcdc;
}
.register-box input.btn:hover,
.login-box input.btn:hover {
	background: #dcdcdc;
}
.login-help {
	text-align: right;
	margin-bottom: 20px;
}
.login-help p a {
	color: #000;
}
.login-tip {
	text-align: center;
}
.login-link {
	color: #999;
	text-align: center;
}
.login-link a {
	color: #999999;
}
.login-link a:visited,
.login-link a:active,
.login-link a:hover {
	text-decoration:none;
}
.login-company {
	margin: 10px auto;
	clear: both;
}
.login-present {
	float: left;
	color: #fff;
	font-size: 18px;
	height: 42px;
	/*line-height: 42px;*/
	padding: 15px;
	margin-top: 20px;
	/*line-height: 70px;*/
	border-left: 1px solid #37474f;
}
.register-form {
	padding: 0px 25px 40px;
}
.register-form > div {
	display: none;
}
.register-form .show {
	display: block;
}
.register-title {
	overflow: hidden;
	height: 50px;
	line-height: 50px;
	color: #999;
	text-align: center;
	margin-bottom: 16px;
}
.register-title li {
	float: left;
	width: 50%;
	height: 100%;
	border-bottom: 1px solid #999;
	cursor: pointer;
	cursor: hand;
}
.register-title li:nth-child(1) {
	border-right: 1px solid #999;
}
.register-title .select {
	color: #37b8f3;
	border-bottom: none;
}
.register-form .form-group > label {
	padding: 0px;
	/*text-align: center;*/
	line-height: 34px;
	font-weight: bold;
}
.register-form .col-xs-10 {
	padding: 0px;
}
.register-box input {
	margin-bottom: 7px;
}
#sitePlatform-option label {
	line-height: 34px;
}
#sitePlatform-option input {
	margin-top: 10px;
}
.marketing {
    display: none;
    width: 1px;
    height: 1px;
}