/*
 *
 *    北京点触官网首页 媒体查询
 *    适配多终端
 *    Autor : Mr.Sofar
 *
 *
 * 
*/
@charset 'utf-8';
/*@media (max-width: 768px) {

}
@media (min-width: 768px)and(max-width: 992px) {

}
@media (min-width: 992px)and(max-width: 1200px) {

}
@media (min-width: 1200px) {

}*/
@media (max-width: 768px) {
	.login > .row {
		background-position: 0px 84px;
		background-size: contain;
	}
	.nav>li {
		padding: 20px;
	}
	.login-present {
		margin: 12px 0 0 20px;
	}
	.register > .row {
		background: none;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (min-width: 992px)and(max-width: 1200px) {

}
@media (min-width: 1200px) {

}