#buypic {
    padding:5px;width:98%;
}
.buypic-nav {
    background-color: #f3f3f3;
    width: 100%;
    overflow:hidden;
}
    .buypic-class,.buypic-order {
        height:100%;
        margin:0px;
        padding:0px;
    }
.buypic-class {
    float:left;
}
.buypic-order {
    float: right;
}
    .buypic-class div, .buypic-order div {
        color: #444;
        font-family: 'Microsoft YaHei';
        list-style: none;
        float: left;
        cursor: pointer;
        width: 90px;
        font-size: 16px;
        text-align: center;
        height: 35px;
        padding-top:15px;
    }
.buypic-nav-select {
     background-color: #ddd;
}
.buypic-nav span {
}
        .buypic-class div:hover, .buypic-order div:hover {
            background-color: #ddd;
        }
    /*Content*/
.buypic-content {
    width:100%;
}
.buypic-wapper {
    margin:0px auto;
    width:750px;
}
.buypic-banners{
    width:740px;
    height:220px;
    background-color:#b6ff00;margin-top:15px;
    cursor:pointer;
    border:10px solid #e5e5e5;
}
.buypic-sliders {
    height:85px;
    width:130px;
    opacity:0.9;
    float:right;
    margin-top:70px;
    overflow:hidden;
    position:relative;
    background-image:url(../image/buypic-slider.png)
}
.sliders-left {
    float:left;font-family:'Microsoft YaHei';width:135px;text-align:left;padding-left:20px;padding-top: 7px;color:#747474;font-size:16px;
}
.sliders-left-cover {
    color:#111111;
}
.sliders-right div{
    width:95px;height:29px;background-image:url(../image/buypic-install.png);
    margin-top:45px;
}
.sliders-right {
    position:absolute;left:130px;
}
    .sliders-right div:hover {
        background-position:0px -29px;
    }

#buypic_float {
    width: 860px;
    border:1px #979797 solid;
    position:fixed;
    z-index:10000;
    top:50%;
    left:50%;
    margin-left:-430px;margin-top:-275px;
}
#buypic_shade {
    background-color: #000000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    display:none;
}
#buypic_float .last {
    background-image:url(../image/buypic-last.png);
    left:-42px;
}
    #buypic_float .last:hover,#buypic_float .next:hover {
        background-position:0px -82px;
    }
#buypic_float .next {
    background-image:url(/image/buypic-next.png);
    right:-42px;
}
#buypic_float .last, #buypic_float .next {
    width:42px;height:82px;position:absolute;cursor:pointer;z-index:10001;top:199px;
}
#buypic_close {
    background-image:url(../image/buypic-close.png);
    height:17px;width:17px;float:right;margin-top:16px;margin-right:16px;cursor:pointer;
}
#buypic_close:hover {
    background-position:0px -17px;
}

#buypic_stars {
    height:50px;
    margin:0px auto;
    overflow:hidden;
}
    #buypic_stars div {
        
    }
.buypic-stars-normal {
       float:left;
        border:1px #c4c4c4 solid;
        height:10px;width:10px;
        border-radius:6px;
        margin-top:30px;
        margin-left:10px;cursor:pointer;
}
.buypic-stars-select {
    background-color:#25a7b9;
    border:1px #25a7b9 solid;
}
.buypic-pics-preview {
    display:none;
}


.buypic-select {
    border:1px solid #babcbc;color:#5a5c5c;
}
.buypic-select-muli {
    line-height: 30px;
    overflow: hidden;
    height: 30px;
}
.buypic-select-single {
    float:left;
}
.buypic-paybut-muli {
    width: 173px;
    height: 30px;
    margin-left: 76px;
    margin-top: 15px;
}
.buypic-paybut-single {
    float: left;
    height: 30px;
    margin-left: 30px;
    width: 135px;
}

.buypic-free {
    font-weight:bold;
}
.buypic-free-font {
    font-size:12px;
    text-decoration:line-through;
    margin-left:5px;
}
#buypic_pay {
    cursor:pointer;background-color:#0092dd;text-align:center;
}
#buypic_pay:hover{
    background-color:#10a6f3;
}