@charset "utf-8";
/* CSS Document */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,a,big, em,font,strong,tt, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,caption, tbody, tfoot, thead, tr, th, tdinput{ padding: 0; margin: 0; }
img{ border:0px;}

ul{list-style:none;}

body,td,th,select,input,textarea {
	font-family: Tahoma;
	font-size: 12px;
	color: #444444;
}
body {
margin: 0;
}
form{
	margin:0;
}
.ding{ width:0px; height:0px; clear:both; overflow:hidden;}
a{
	color:#444444;
	text-decoration:none;
}
a:hover,a:active{
	color:#EC0000;
}
fiv {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
INPUT {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
SELECT {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0A73B4
}


SELECT {
	BORDER-RIGHT: #cacaca 1px solid; BORDER-TOP: #cacaca 1px solid; BORDER-LEFT: #cacaca 1px solid; COLOR: #000000; BORDER-BOTTOM: #cacaca 1px solid
}
body{ background:#fff; }
/*高
*/
.hf{ width:12px; height:18px;}
.topt{ background:url(../images/topb.jpg) repeat-x top; height:27px; width:100%;}
.topr{ width:970px; margin:0 auto; text-align:right; line-height:27px;}
.log{ background: url(../images/logbj.jpg) repeat-x top; height:81px; width:100%;}
.logn{ width:970px; margin:0 auto;}
.logl{ width:130px; height:75px; padding-top:6px; float:left;}
.logr{ width:650px; float:right;}
.logr ul{ margin-top:25px;}
.logr ul li{ background:url(../images/navh.jpg) no-repeat right center; width:100px; float: left; height:28px; line-height:28px; text-align:center;}
.logr ul li a{font-family:"微软雅黑"; font-size:16px; }
.logr ul li a:hover{ color:#1c7cb8;}
.banner{height:415px; width:100%;}
.berxn{ background:url(../images/berxb.jpg) repeat-x top; height:236px; width:100%;}
.berxcn{ width:970px; margin:0 auto;}
.berxnl{ width:35px; float:left; padding-top:70px;}
.bercnc{ float:left; padding-top:45px;}
.bercnc dl{ width:305px; float:left;}
.bercnc dl dt{ width:279px;}
.bercnc dl dd{ width:279px; margin-top:12px; line-height:22px; text-indent:24px;}
.berxnr{ width:12px; float:right;  padding-top:70px;}

.cm2k{ background:url(../images/cm2b.jpg) repeat-x top ; width:100%; height:470px; padding-top:4px;}
.wbcom{ background:url(../images/wblcb.jpg) repeat-y left; width:899px; margin:0 auto;}
.wbfot{ background:url(../images/wblftb.jpg) no-repeat bottom center;}
.wbtop{ background:url(../images/wbltpb.jpg) no-repeat top center; height:400px; padding-top:50px; width:899px;}
.wbtop dl{ width:392px;   margin-left:25px; margin-right:27px; padding-top:10px; height:68px;padding-bottom:12px; background:url(../images/xx.jpg) repeat-x bottom;}
.wbtop dl dt{ width:66px; float:left;}
.wbtop dl dd{ width:315px; float:left; line-height:18px;}
.wbtop dl dd span{ color:#6eafd5;}
.wbtop dl dd div{ color:#999999; padding-top:5px;}

.foot{ background:url(../images/footb.jpg) repeat-x top; width:100%; height:207px;}
.fottm{ width:970px; margin:0 auto; padding-top:22px; height:123px;}
.fotlc{ width:790px; height:111px; float:left;  padding-top:12px;}
.fotlc ul{}
.fotlc ul li{ float:left; width:155px;}
.fotlc ul li dl{ width:155px;}
.fotlc ul li dl dt{ line-height:20px;}
.fotlc ul li dl dt a{ font-weight:bold;}
.fotlc ul li dl dd{ line-height:18px;}
.fotrc{ float: left; width:147px; padding-left:20px;}
.fotfm{ width:970px; margin:0 auto; background:url(../images/fotfb.jpg) repeat-x top; height:36px;} 
.fotfl{ width:600px; float:left; line-height:36px; text-indent:12px;}
.fotfr{ width:150px; float: right; padding-top:8px;}




.nyelb{ background:url(../images/ncmdw.jpg);}
.nyezb{ background:url(../images/ncmb.jpg) repeat-x top; padding-bottom:30px; padding-top:25px;}
.nyecm{ width:970px; margin:0 auto;}
.nyelcm{ float:left; width:251px; }

.nyelm{ background: url(../images/nylscmb.jpg) repeat-y left; width:228px;}
.nyltop{ background:url(../images/nyltopb.jpg) top left no-repeat; width:228px;}
.nylfoot{ background: url(../images/nyltfotb.jpg) bottom no-repeat; width:228px;  padding-bottom:10px;}
.gyuwom{ width:228px; height:48px; line-height:48px; font-family:"微软雅黑"; font-size:20px; color:#1075b4; text-indent:24px;}
.gyuwom a{ font-family:"微软雅黑"; font-size:20px; color:#1075b4; text-indent:24px;}
.gsjjn{ width:228px;}
.gsjjn ul{ width:228px;}
.gsjjn ul li{ background:url(../images/nyltcomb.jpg) top no-repeat;  width:228px;  text-indent:30px;}
.gsjjn ul li a{ font-size:14px; color:#474747; font-family:"微软雅黑"; height:41px; line-height:41px; display:block;}
.gsjjn ul li dl{ width:226px; padding:1px;}
.gsjjn ul li dl dd{ width:226px; height:28px; background:#e3e3e3; line-height:28px; border-bottom:1px solid #f1f1f1;}
.gsjjn ul li dl dd a{ line-height:28px; text-indent:43px; font-size:13px;}





.nyelm1{ background: url(../images/nylscmb1.jpg) repeat-y left; width:275px;}
.nyltop1{ background:url(../images/nyltopb1.jpg) top left no-repeat; width:275px;}
.nylfoot1{ background: url(../images/nyltfotb1.jpg) bottom no-repeat; width:275px;  padding-bottom:10px;}
.gyuwom1{ width:275px; height:48px; line-height:48px; font-family:"微软雅黑"; font-size:20px; color:#1075b4; text-indent:24px;}
.gyuwom1 a{ font-family:"微软雅黑"; font-size:20px; color:#1075b4; text-indent:24px;}
.gsjjn1{ width:275px;}
.gsjjn1 ul{ width:275px;}
.gsjjn1 ul li{ background:url(../images/nyltcomb1.jpg) top no-repeat;  width:275px;  text-indent:15px;}
.gsjjn1 ul li a{ font-size:14px; color:#474747; font-family:"微软雅黑"; height:41px; line-height:41px; display:block;}
.gsjjn1 ul li dl{ width:273px; padding:1px;}
.gsjjn1 ul li dl dd{ width:273px; height:28px; background:#e3e3e3; line-height:28px; border-bottom:1px solid #f1f1f1;}
.gsjjn1 ul li dl dd a{ line-height:28px; text-indent:23px; font-size:13px;}



























.xwdtl{ width:228px;}
.xwdtl ul{ width:228px;}
.xwdtl ul li{ background:url(../images/xiwnbj.jpg) bottom no-repeat; height:26px; width:228px; line-height:26px; padding-top:5px; text-indent:30px;}
.xwdtl ul li a{ font-size:12px; color:#474747;}


.nyercm{ float:left; width:719px;}
.nyenrc{ width:719px; background:url(../images/nynrcm.jpg) repeat-y left; }
.nyenrt{ width:719px; background:url(../images/nynrtop.jpg) no-repeat left top; }
.nyenrf{ width:719px; background:url(../images/nynrftb.jpg) no-repeat bottom left; min-height:600px;}
.nyzhu{ height:47px; width:719px; text-indent:35px; font-size:20px; font-family:"微软雅黑";color:#1075b4; line-height:47px;}


.nyznr{ width:694px; padding-left:15px; padding-right:10px; padding-top:15px; line-height:30px;}

.ywny{ width:940px; background: url(../images/ywcm.jpg) repeat-y left; margin:0 auto; }
.ywncm{ width:940px; background: url(../images/ywcm.jpg) repeat-y left;}
.ywntop{  width:940px; background: url(../images/ywtop.jpg) no-repeat top left;}
.ywnfot{  width:940px;  background: url(../images/ywfot.jpg) no-repeat bottom left; min-height:600px;}

.ywenn{ height:47px; width:940px; text-indent:35px; font-size:20px; font-family:"微软雅黑";color:#1075b4; line-height:47px;}
.ywennr{ width:910px; padding-left:15px; padding-right:10px; padding-top:15px; line-height:30px;}


.xgsjjn{ width:218px;margin:0 auto;}
.xgsjjn ul{ width:218px; margin:0 auto;}
.xgsjjn ul li{  height:52px; width:218px; line-height:51px; }

.xgsjjn ul li a{ font-size:14px; color:#474747; font-family:"微软雅黑"; height:51px; width:216px; line-height:51px;background:#f9f9f9; display:block; text-indent:30px; border-bottom:1px solid #e7e7e7; border-left:1px solid #e7e7e7; border-right:1px solid #e7e7e7; }
.xgsjjn ul li a:hover{ font-size:14px; color:#0973b1; font-family:"微软雅黑"; height:51px; width:215px; line-height:51px;background:#fff; border-bottom:1px solid #e7e7e7;  border-right:1px solid #e7e7e7; display:block; border-left:2px solid #00acfb;text-indent:29px; }
.zxtty{ width:717px; height:45px;; padding:1px; }
.zxtty a{ padding-left:15px; padding-right:15px; line-height:45px;  border-right:1px solid #dfdfdf; height:45px; color:#0a73b4; font-family:"宋体"; font-size:14px; font-weight:bold; display:block; float:left;}
.zxtty a:hover{ border-right:1px solid #dfdfdf; color:#fff; background:#0791d2;}




.pgsjjn{ width:228px;}
.pgsjjn ul{ width:228px;}
.pgsjjn ul li{ background:url(../images/cplmt.jpg) top no-repeat;  width:228px;  text-indent:30px;}
.pgsjjn ul li a{ font-size:14px; color:#484040; font-weight:bold;height:32px; line-height:32px; display:block;}
.pgsjjn ul li dl{ width:226px; padding:1px;}
.pgsjjn ul li dl dd{ width:226px; height:22px; background:#f1f1f1; line-height:20px; border-bottom:1px solid #fff;}
.pgsjjn ul li dl dd a{ line-height:20px; text-indent:43px; font-size:13px; font-weight:100;}


.knyznr{ width:694px; padding-left:15px; padding-right:10px; padding-top:15px; line-height:30px;}
.knyznr img{ margin-left:30px; margin-right:20px; margin-bottom:12px;}




.ncyznr{ width:694px; padding-left:15px; padding-right:10px; padding-top:15px; line-height:30px; padding-bottom:30px; min-height:800px;}
.ncyznr dl{ width:686px; padding:3px; border:1px solid #eee; height:228px; margin-top:8px;}
.ncyznr dl dt{ width:228px; float:left; height:226px; border:1px solid #eee;  }
.ncyznr dl dd{ width:450px; float:right; height:226px; border:1px solid #eee; }
.cps1{ font-size:28px; font-family:"微软雅黑"; color:#2e9eea; width:220px; text-align:center; padding-top:35px;}
.cps2{ width:220px; text-align:center; font-size:14px; color:#666666; padding-top:8px; padding-bottom:15px;}
.cps3{ width:127px; height:28px; line-height:28px; background:#2375be; text-align:center; margin:0 auto;}
.cps3 a{ color:#FFFFFF;}



.nyywznr{ width:694px; padding-left:15px; padding-right:10px; padding-top:15px; line-height:30px; padding-bottom:30px; min-height:800px;}
.ywx1{ width:694px; height:284px; background:url(../images/ywnb.jpg) no-repeat top;}
.ywx2{ width:325px; height:142px; float:left; text-align:right; padding-right:22px;}
.ywx2 a{  width:325px;px; height:60px; font-size:28px; line-height:60px; display:block; color:#11669d; font-family:"微软雅黑"; }














.theme-default .nivoSlider {
	POSITION: relative; MARGIN-BOTTOM: 50px; BACKGROUND: url(loading.gif) #fff no-repeat 50% 50%
}
.theme-default .nivoSlider IMG {
	POSITION: absolute; DISPLAY: none; TOP: 0px; LEFT: 0px
}
.theme-default .nivoSlider A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; DISPLAY: block; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.theme-default .nivo-controlNav {
	POSITION: absolute; BOTTOM: -24px; MARGIN-LEFT: -40px; LEFT: 50%
}
.theme-default .nivo-controlNav A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; TEXT-INDENT: -9999px; WIDTH: 14px; DISPLAY: block; BACKGROUND: url(../images/bullets.png) no-repeat; FLOAT: left; HEIGHT: 14px; BORDER-TOP: 0px; MARGIN-RIGHT: 15px; BORDER-RIGHT: 0px
}
.theme-default .nivo-controlNav A.active {
	BACKGROUND-POSITION: 0px -14px
}
.theme-default .nivo-directionNav A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; TEXT-INDENT: -9999px; WIDTH: 14px; DISPLAY: block; HEIGHT: 14px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.theme-default A.nivo-nextNav {
	BACKGROUND-POSITION: -30px 0px; RIGHT: 15px
}
.theme-default A.nivo-prevNav {
	LEFT: 15px
}
.theme-default .nivo-caption {
	
}
.theme-default .nivo-caption A {
	BORDER-BOTTOM: #fff 1px dotted; COLOR: #fff
}
.theme-default .nivo-caption A:hover {
	COLOR: #fff
}
.nivoSlider {
	POSITION: relative
}
.nivoSlider IMG {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.nivoSlider A.nivo-imageLink {
	Z-INDEX: 6; BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; DISPLAY: none; HEIGHT: 100%; BORDER-TOP: 0px; TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px; LEFT: 0px
}
.nivo-slice {
	Z-INDEX: 5; POSITION: absolute; DISPLAY: block; HEIGHT: 100%
}
.nivo-box {
	Z-INDEX: 5; POSITION: absolute; DISPLAY: block
}
.nivo-directionNav A {
	Z-INDEX: 9; POSITION: absolute; TOP: 45%; CURSOR: pointer
}
.nivo-prevNav {
	LEFT: 0px
}
.nivo-nextNav {
	RIGHT: 0px
}
.nivo-controlNav A {
	Z-INDEX: 9; POSITION: relative; CURSOR: pointer
}
.nivo-controlNav A.active {
	FONT-WEIGHT: bold
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: separate
}
CAPTION {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TH {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
TD {
	TEXT-ALIGN: left; FONT-WEIGHT: normal
}
BLOCKQUOTE:before {
	CONTENT: ""
}
BLOCKQUOTE:after {
	CONTENT: ""
}
Q:before {
	CONTENT: ""
}
Q:after {
	CONTENT: ""
}
BLOCKQUOTE {
	QUOTES: "" ""
}
Q {
	QUOTES: "" ""
}
header {
	DISPLAY: block
}
section {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
article {
	DISPLAY: block
}
figure {
	DISPLAY: block
}
#dev7link {
	BORDER-BOTTOM: 0px; POSITION: absolute; BORDER-LEFT: 0px; TEXT-INDENT: -9999px; WIDTH: 60px; DISPLAY: block; BACKGROUND: url(images/dev7logo.png) no-repeat; HEIGHT: 67px; BORDER-TOP: 0px; TOP: 0px; BORDER-RIGHT: 0px; LEFT: 50px
}
.theme-default #slider {
	MARGIN: 0px auto; WIDTH:100%; HEIGHT: 400px
}
.slider-wrapper.theme-pascal {
	MARGIN-TOP: 110px
}
.slider-wrapper.theme-orman {
	MARGIN-TOP: 110px
}
.clear {
	CLEAR: both
}


.nyercm1{ float: right; width:680px;}
.nyenrc1{ width:680px; background:url(../images/nynrcm1.jpg) repeat-y left; }
.nyenrt1{ width:680px; background:url(../images/nynrtop1.jpg) no-repeat left top; }
.nyenrf1{ width:680px; background:url(../images/nynrftb1.jpg) no-repeat bottom left; min-height:600px;}
.nyzhu1{ height:47px; width:680px; text-indent:10px; font-size:18px; font-family:"微软雅黑";color:#1075b4; line-height:47px;}


.nyznr1{ width:660px; padding-left:15px; padding-right:10px; padding-top:15px; line-height:30px;}










