﻿#tou_header
{
    background:url(/image/bg.jpg) repeat-x;
    overflow:hidden;

}
.leftnav-sec
{
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    border-left:2px solid #0099cc;
    margin-bottom:3px;
    background: #cac7c7;
    cursor:pointer;
    text-align:left;
}
    .leftnav-sec:hover
    {
        background:#8f8f8f;
    }
    .leftnav-sec span
    {
        margin-left:25px;
        
    }
/*验证码皮肤与类型*/
#captcha_typeandskin
{
    overflow:hidden;
    padding:10px;
    width:1150px;
}
    #captcha_typeandskin .typeandskin_left
    {
        float:left;
        overflow:hidden;
        width:110px;
    }
    #captcha_typeandskin .typeandskin_border
    {
        border-right:1px solid #8f8f8f;
        margin-right:3px;
    }
    #captcha_typeandskin .typeandskin_title 
    {
        border-left: 6px solid #0099cc;
        font-size: 15px;
        color: #0099cc;
        font-family: 'Microsoft YaHei';
        padding-left: 4px;
        cursor:default;
    }
        #captcha_typeandskin .typeandskin_title:hover
        {
            border-left-color:#08536c;
            color:#08536c;
        }
        #captcha_typeandskin .typeandskin_title div
        {
            width:8px;height:8px;
            border-radius:4px;
            background:#8f8f8f;
            margin-right:0px;
        }
    #captcha_typeandskin .typeandskin_type
    {
        margin-left:25px;border:1px #929292 solid;
        width:200px;float:left;
        overflow:hidden;
        display:none;
    }
        #captcha_typeandskin .typeandskin_type:hover
        {
            border:#006DAE 1px solid;cursor:pointer;
        }
    #captcha_typeandskin .typeandskin_type_sel
    {
        background:#ddd;
    }
        #captcha_typeandskin .typeandskin_type .top
        {
            height:190px;
            text-align:center;
            font-size:0px;
        }
            #captcha_typeandskin .typeandskin_type .top span
            {
                 vertical-align:middle; display:inline-block; height:100%; width:1px; margin-left:-1px;
            }
            #captcha_typeandskin .typeandskin_type .top img
            {
                display:inline;
                vertical-align:middle;
            }
        #captcha_typeandskin .typeandskin_type .bottom
        {
            height:50px;text-align:center;
        }
            #captcha_typeandskin .typeandskin_type .bottom span
            {
                font-family:'Microsoft YaHei';
                font-size:14px;
                color:#000;
            }
         
    #captcha_typeandskin .typeandskin_skin
    {
        margin-left:25px;border:1px #929292 solid;
        margin-top:25px;
        width:200px;float:left;
        overflow:hidden;
        display:none;
    }
    #captcha_typeandskin .typeandskin_skin_sel
    {
        background:#ddd;
    }
    #captcha_typeandskin .typeandskin_skin:hover
    {
        border: #006DAE 1px solid;
        cursor: pointer;
    }
        #captcha_typeandskin .typeandskin_skin .top
        {
            height: 190px;
            font-size:0px;
            text-align: center;
        }
            #captcha_typeandskin .typeandskin_skin .top span
            {
                 vertical-align:middle; display:inline-block; height:100%; width:1px; margin-left:-1px;
            }
            #captcha_typeandskin .typeandskin_skin .top img
            {
                vertical-align: middle;
                display:inline;
            }
        #captcha_typeandskin .typeandskin_skin .bottom
        {
            height:50px;text-align:center;

        }
            #captcha_typeandskin .typeandskin_skin .bottom span
            {
                font-family: 'Microsoft YaHei';
                font-size: 14px;
                color: #000;
            }

/*验证码管理*/
#captcha_manage
{
    padding:5px; 
    overflow:hidden;
}

.captcha_manage_trans_div
{
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    border: 1px dashed #cdcdcd;
    margin: 3px;
     color:#666;
     font-family:'Microsoft YaHei';
}
.captcha_manage_smallpic_div
{
    width: 60px;
    height: 60px;
    border: 1px dashed #cdcdcd;
    margin: 3px;
    line-height: 60px;
    text-align:center;
}
    .captcha_manage_smallpic_div img
    {
        vertical-align:middle;

    }

.captcha_manage_tword_div
{
    width: 60px;
    height: 60px;
    font-size: 14px;
    border: 1px dashed #cdcdcd;
    margin: 3px;
    word-break:break-all;
    white-space:normal;
    overflow:hidden;
    color:#666;
}
    .captcha_manage_tword_div span
    {
        vertical-align:middle;
        font-family:'Microsoft YaHei';
    }
.captcha_manage_text
{
    font-size:16px;
    font-family:'Microsoft YaHei';
    color:#666;
}
.captcha_manage_text_div
{
    text-align:center;
}
.captcha_manage_pc_text
{
    font-size:14px;
    font-family:'Microsoft YaHei';
    color:#666;
    text-align:center;
}

/*使用报表*/
#used_report
{
    padding:5px;
    overflow:hidden;
    
}

#qq_connect {
    padding-left:30px;margin-top:20px;
}
    #qq_connect div {
        line-height:30px;text-decoration:none;padding-top:1px;
    }
        #qq_connect div a {
            text-decoration:none;color:#444;font-size:14px;font-weight:bold;font-family:'Microsoft YaHei';
        }
        #qq_connect div img {
            margin-top:4px;float:left;
        }
        #qq_connect div span {
            padding-left:10px;
        }
/*.qq-connect-item {
    overflow:hidden;
    margin:10px;padding-left:20px;
}
.qq-connect-but {
    float:left;
}
.qq-connect-note {
    padding-left:5px;font-size:14px;color:#444;
    float:left;height:26px;line-height:24px;
    font-weight:bold;
}*/