#strong div{
	float:left;
	width:64px;
	height: 30px;
	text-align:center;
	line-height:30px;
	/* background-color: #d7d7d7;
	color: #fff; */
}
.progress {
	height: 30px;
}
.grading {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:30px;
	color:#fff;
	padding-left:0px;
}
.grading li {
	float:left;
	width:20%;
	list-style:none;
	text-align:center;
	
}