body {
		overflow: scroll;
	}
	body,html {
		background: #f0f4f7;
		font-family: "Microsoft YaHei";
	}
	body .btn-info {
		background: #2d97e0;
	}
	.wrapper {
		padding: 12px 25px;
		background: #f0f4f7;
	}
	.payPage-head {
		padding: 10px;
		background: #fff;
		margin-bottom: 10px;
	}
	.payPage-userimg {
		overflow: hidden;
		width: 58px;
		height: 58px;
		border-radius: 50%;
		background: #edf;
	}
	.payPage-day,
	.payPage-version,
	.payPage-username {
		margin-top: 12px;
	}
	.payPage-history {
		margin-top: 40px;
		text-align: right;
	}
	.payPage-r-box,
	.payPage-left {
		min-height: 500px;
		padding: 20px 10px;
		background: #fff;
	}
	.payPage-left,
	.payPage-right {
		height: 100%;
	}
	.payPage-combo {
		padding: 20px;
	}
	.payPage-right {
		padding-left: 10px; 
		padding-right: 0px;
	}
	.payPage-v-option {
		padding: 20px 30px;	
	}
	.payPage-pdleft {
		padding-left: 30px;
	}
	.payPagr-pay {
		max-width: 500px;
	}
	.payPagr-pay div {
		height: 38px;
		height: 45px;
		cursor: pointer;
		cursor: hand;
	}
	.payPage-btn {
		margin-bottom: 23px;
	}
	.payPage-time,
	.payPage-total {
		color: #2d97e0;
		padding: 0px 10px;
		text-decoration: underline;
	}
	.payPage-serve {
		overflow: hidden;
	}
	.payPage-serve p,
	.payPage-serve div {
		float: left;
		margin-right: 10px;
	}
	.payPage-serve div span {
		padding-left: 50px;
	}
	.payPage-content {
		height: 100%;
	}
	@media (max-width: 768px) {
		.payPage-head {
			text-align: center;
		}
		.payPage-userimg {
			margin: 0 auto;
		}
		.payPage-right h3 {
			font-size: 20px;
		}
		.slider-bg {
			overflow: hidden;
		}
		.slider-date .slider-bg li {
			width: 22px;
		}
		.slider-date .slider-bg li:nth-child(12){
			width: 30px;
		}
		.payPage-left {
			margin-bottom: 20px;
		}
		.payPage-right {
			padding: 0px;
		}
		.payPage-v-option {
			padding: 10px;
		}
		.payPagr-pay > div {
			padding: 0px;
		}
	}
	@media (min-width: 768px)and (max-width: 992px){
		.slider-date .slider-bg li {
			width: 36px;
		}
	}
ul,li{ padding:0; margin:0;list-style-type:none;}
.clearfix:after { display: block; content: ""; clear: both; }

.slider-date{ height:36px; line-height:36px; background: #e8e8e8; display:inline-block; position:relative;}
.slider-date .slider-bg li{ position:relative; float:left; width:50px; border-left:solid 1px #ddd; font-size:12px; text-align:center;}
.slider-date .slider-bg span{ display:none;}

.slider-date .slider-bg li:first-child{border-left:none;}
.slider-date .slider-bar{ position:absolute; top:-2px; left:0; overflow:hidden; height:40px; width:50px;}
.slider-date .slider-bar ul{ margin-top:1px; background: #43bfe3; color:#fff; height:36px; width:1000px;}
.slider-date .slider-bar-btn{ line-height:40px; text-align:center; position:absolute; top:-2px; right:0px; display:block; width:16px; height:40px; background: #2dacd1; color:#fff;}
.slider-date .slider-bar-btn i{display: inline-block; margin:12px 2px; width: 2px; height: 12px; background: #68c3de;} 