@CHARSET "UTF-8";
body {
	overflow: scroll;
}

body, html {
	background: #f0f4f7;
	font-family: "Microsoft YaHei";
}

@font-face {
	font-family: 'iconfont';
	src: url('//at.alicdn.com/t/font_1472194793_5576017.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/font_1472194793_5576017.eot?#iefix')
		format('embedded-opentype'), /* IE6-IE8 */ 
	  	 url('//at.alicdn.com/t/font_1472194793_5576017.woff')
		format('woff'), /* chrome、firefox */ 
	  	 url('//at.alicdn.com/t/font_1472194793_5576017.ttf')
		format('truetype'),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ 
	  	 url('//at.alicdn.com/t/font_1472194793_5576017.svg#iconfont')
		format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont";
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 20px;
}

.wrapper {
	padding: 12px 25px;
	background: #f0f4f7;
}

.tatics-title {
	font-family: "Microsoft YaHei";
	font-size: 18px;
	padding-bottom: 7px;
	border-bottom: 1px solid #ddd;
}

.tatics-select {
	/*display:inline;*/
	border-radius: 5px;
	font-size: 14px;
}

.tactics-synthesize, .tactics-Individual {
	overflow: hidden;
	padding: 18px 12px 0;
	background: #fff;
	margin-bottom: 12px;
	box-shadow: 1px 1px 5px #ddd, -1px -1px 5px #ddd;
}

.tactics-h3 {
	padding: 0px;
	margin: 0px auto 27px;
}

.tactics-option-title {
	text-align: right;
}

.checkbox, .radio {
	margin: -5px auto 0px;
	color: #aaa;
	/*width: 80%;*/
}

.tactics-option li {
	margin-bottom: 25px;
	line-height: 22px;
}

.tactics-aissez-passer {
	text-align: center;
}

.tactics-synthesize>ul {
	width: 90%;
	margin: 0 auto;
}

.tactics-Individual select, .tactics-synthesize select {
	margin-left: 10px;
	border-radius: 3px;
	border: 1px solid #ddd;
}

.tactics-h3 sub {
	font-size: 14px;
}

@media ( max-width : 768px) {
	.tactics-h3 {
		font-size: 16px;
	}
	.tactics-option-title, .tactics-option ul {
		text-align: center;
	}
	.wrapper {
		padding: 10px;
	}
	.tactics {
		padding: 0px;
	}
	.checkbox-slider--a.checkbox-slider-md input+span {
		padding-left: 80px;
	}
}
